#newsletter_container {
    height: 146px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#newsletter_form input {
    width: 280px;
    height: 48px;
    margin: 6px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.input_error {
    border: solid 1px red!important;
}

.error_msg {
    font-size: 10px;
    color: red;
}

#btn_send {
    width: 140px;
    height: 48px;
    color: #fff;
    margin: 6px;
    background-color: #000;
    border: none;
    border-radius: 6px;
}

#registered {
    height: 146px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#registered h4 {
    font-size: 14px;
    font-weight: bold;
}

#registered span {
    font-size: 12px;
}

#registered button {
    width: 328px;
    height: 48px;
    color: #fff;
    margin: 6px;
    background-color: #000;
    border: none;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    #newsletter_container {
        height: 276px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #newsletter_container h4 {
        font-size: 22px;
    }
    
    #newsletter_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #btn_send {
        width: 288px;
        height: 48px;
        color: #fff;
        margin: 6px;
        background-color: #000;
        border: none;
        border-radius: 6px;
    }
}