.carousel {
    width: 100%;
    height: 430px;
}

.carousel_item  {
    background-image: url('../../assets/img/full-banner.png');
    background-repeat: no-repeat;
    background-size: 100% 430px;
    width: 100%;
    height: 430px;
}

